[access]
	inheritFrom = All-Projects
[project]
	description = Mirror of the Samba.org Git Repository
[access "refs/*"]
	owner = group user/Srikrishan Malik (srimalik)
[access "refs/for/refs/*"]
	read = group user/Srikrishan Malik (srimalik)
	push = group user/Srikrishan Malik (srimalik)
	label-Code-Review = -2..+2 group user/Srikrishan Malik (srimalik)
	label-Verified = -1..+1 group user/Srikrishan Malik (srimalik)
	rebase = group user/Srikrishan Malik (srimalik)
	removeReviewer = group user/Srikrishan Malik (srimalik)
	submit = group user/Srikrishan Malik (srimalik)
[access "refs/heads/*"]
	read = group user/Srikrishan Malik (srimalik)
	create = group user/Srikrishan Malik (srimalik)
	push = +force group user/Srikrishan Malik (srimalik)
	pushMerge = group user/Srikrishan Malik (srimalik)
[access "refs/tags/*"]
	push = group user/Srikrishan Malik (srimalik)
	push = +force group user/Srikrishan Malik (srimalik)
